doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/presentation.css')
        link(rel='stylesheet', href='/themes/' + theme + '.css')
    body(data-presentation= name)
        #slide-container
            each slide in slides
                article.slide!= slide
        script(src='/socket.io/socket.io.js')
        script(src='/app.js')