doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/presentr.css')
        link(rel='stylesheet', href='/themes/' + theme + '.css')
    body
        #slide-container
            each slide in slides
                article.slide!= slide
        script(src='/app.js')