doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/presentr.css')
    body
        iframe(width='800', height='600',frameborder='none',src='/presentations/' + presentation, id='current-view')
        iframe(width='640', height='480',frameborder='none',src='/presentations/' + presentation, id='next-view')