doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/presentr.css')
        link(rel='stylesheet', href='/speakerview.css')
    body(data-duration='' + duration)
        .slide-decks
            #current-view.view
                iframe(width='800', height='600',frameborder='none',src='/presentations/' + presentation, name='current-view')
            #next-view.view
                iframe(width='640', height='480',frameborder='none',src='/presentations/' + presentation + '/preview', name='next-view')
            #toolbox.toolbox
        script(src='/socket.io/socket.io.js')
        script(src='/speakerview.js')