@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.slide-decks {
  margin-top: 20px;
  text-align: center;
  width: 100%; }
  .slide-decks .view {
    cursor: move;
    left: 50%;
    resize: both; }
    .slide-decks .view iframe {
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      margin: 4px;
      overflow: auto;
      pointer-events: none; }

#current-view {
  margin-left: -600px; }

#next-view {
  margin-left: 50x;
  margin-top: 60px; }

.toolbox {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  bottom: 150px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #fff;
  cursor: move;
  font-size: 3em;
  height: 80px;
  right: 300px;
  width: 350px;
  line-height: 80px; }
  .toolbox:hover {
    background-color: rgba(0, 0, 0, 0.9); }
  .toolbox * {
    padding: 0 0.15em; }
  .toolbox .time-box.lastminute {
    color: #f00; }
  .toolbox .time-box.overtime {
    -webkit-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite; }
  .toolbox .icon {
    cursor: pointer; }
    .toolbox .icon:before {
      padding: 0;
      top: 4px;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .toolbox .icon:hover:before {
      opacity: 0.7; }
