html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
    font-family: serif;
    color: rgb(20, 20, 20);
}

.presentation {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide {
    background-color: rgb(250, 250, 250);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin: 0.5em;
    padding: 0.8em;
}

h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
}

p {
    font-size: 1em;
    margin:  0.5em 0;
}