@font-face {
    font-family: 'pricons';
    src:url('/fonts/pricons.eot?3v99ja');
    src:url('/fonts/pricons.eot?#iefix3v99ja') format('embedded-opentype'),
        url('/fonts/pricons.woff?3v99ja') format('woff'),
        url('/fonts/pricons.ttf?3v99ja') format('truetype'),
        url('/fonts/pricons.svg?3v99ja#pricons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'pricons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    &:before {
        position: relative;
        padding-right: 0.5em;
    }

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-screen:before {
    content: "\e600";
    top: 0.1em;
}
.icon-equalizer:before {
    content: "\e601";
}
.icon-search:before {
    content: "\e602";
}
.icon-checkmark:before {
    content: "\e603";
}
.icon-close:before {
    content: "\e604";
}
.icon-menu:before {
    content: "\e605";
}
