@import 'icons';
$linkcolor: #fff;
$linkcolorlow: rgba(255, 255, 255, .6);
.sidebar {
    background-color: #181818;
    box-shadow: 4px 0 9px rgba(0, 0, 0, .4);
    font-size: 16px;
    height: 100%;
    left: -250px - 9px;
    position: absolute;
    top: 0;
    transition: left .2s ease;
    width: 250px;
    &.open {
        left: 0;
    }
    h1 {
        font-size: 2em;
        a {
            border-bottom: 1px solid rgba(255, 255, 255, .6);
            color: $linkcolorlow;
            display: block;
            font-family: 'Raleway';
            font-weight: 100;
            margin: 0;
            padding: .3em 0;
            text-align: center;
            text-decoration: none;
            &:hover {
                color: $linkcolor;
            }
        }
    }
    ul {
        list-style-type: none;
        margin: .8em 0 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
        a {
            color: $linkcolor;
            display: block;
            font-size: 1em;
            padding: .5em .7em;
            text-decoration: none;
            &:hover {
                color: $linkcolorlow;
            }
        }
    }
    .gotoslide {
        background-color: #fff;
        border-radius: 5px;
        margin: .4em auto .5em;
        position: relative;
        width: 190px;
        overflow: hidden;
        height: 31px;
        input {
            background-color: #1f8dd6;
            border: 0;
            color: #fff;
            display: inline-block;
            font-size: 1.1em;
            height: 1.8em;
            margin-right: 5px;
            outline: none;
            padding: 0 5px;
            text-align: center;
            width: 1.5em;
        }
        .slide-headline {
            cursor: pointer;
        }
    }
}