@import "icons";
$linkcolor: #fff;
$linkcolorlow: rgba(255, 255, 255, .6);
.sidebar {
    position: absolute;
    top: 0;
    left: -230px - 9px;
    &.open {
        left: 0;
    }
    transition: left 0.2s ease;
    width: 230px;
    height: 100%;
    background-color: #181818;
    box-shadow: 4px 0 9px rgba(0, 0, 0, .4);
    font-size: 16px;
    h1 {
        font-size: 2em;
        a {
            text-align: center;
            text-decoration: none;
            display: block;
            color: $linkcolorlow;
            margin: 0;
            padding: 0.3em 0;
            font-weight: 100;
            font-family: 'Raleway';
            border-bottom: 1px solid rgba(255, 255, 255, .6);
            &:hover {
                color: $linkcolor;
            }
        }
    }
    ul {
        list-style-type: none;
        margin: .8em 0 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            a {
                font-size: 1em;
                color: $linkcolor;
                text-decoration: none;
                display: block;
                padding: 0.5em 0.7em;
                &:hover {
                    color: $linkcolorlow;
                }
            }
        }
    }
    .gotoslide {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: -0.5em;
            left: 2em;
            border-style: solid;
            border-width: 0 0.6em 0.6em;
            border-color: #fff transparent;
            display: block;
            width: 0;
            z-index: 1;
        }
        input {
            display: block;
            width: 190px;
            height: 1.8em;
            padding: 0 5px;
            margin: .4em auto .5em;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1.1em;
        }
    }
}