#slide-container {
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: auto;
    &:before {
        content: '';
        display: block;
        padding-top: 75%;
    }
}

.slide {
    display: none;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.end {
        background-color: black;
        &:after {
            content: 'End of Presentation';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            font-size: 3em;
            padding: 0.5em 0.7em;
        }
    }
}

.current {
    display: block;
}

.prev {
    display: block;
    transform: translateX(-100%) scale(0.9);
}

.prev-prev {
    display: block;
    transform: translateX(-150%) scale(0.9);
}

.next {
    display: block;
    transform: translateX(100%) scale(0.9);
}

.next-next {
    display: block;
    transform: translateX(150%) scale(0.9);
}