#slide-container {
    margin: auto;
    max-height: 100%;
    position: relative;
    width: 100%;
    &:before {
        content: '';
        display: block;
        padding-top: 75%;
    }
}

.slide {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .3s ease;
    &.end {
        background-color: #000;
        &:after {
            color: #fff;
            content: 'End of Presentation';
            display: block;
            font-size: 3em;
            left: 0;
            padding: .5em .7em;
            position: absolute;
            top: 0;
        }
    }
}

.current {
    display: block;
}

.prev {
    display: block;
    transform: translateX(-100%) scale(.9);
}

.prev-prev {
    display: block;
    transform: translateX(-150%) scale(.9);
}

.next {
    display: block;
    transform: translateX(100%) scale(.9);
}

.next-next {
    display: block;
    transform: translateX(150%) scale(.9);
}