@import "../../components/bourbon/app/assets/stylesheets/bourbon";
@import "animations";

.slide-decks {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    .view {
        cursor: move;
        left: 50%;
        resize: both;
        iframe {
            box-shadow: 0 0 6px rgba(0, 0, 0, .5);
            margin: 4px;
            overflow: auto;
            pointer-events: none;
        }
    }
}

#current-view {
    margin-left: -600px;
}

#next-view {
    margin-left: 50x;
    margin-top: (600px - 480px) / 2;
}

.toolbox {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, .8);
    transition: background-color .4s ease;
    &:hover {
        background-color: rgba(0, 0, 0, .9);
    }
    bottom: 150px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    border-radius: 15px;
    color: #fff;
    cursor: move;
    font-size: 3em;
    height: 80px;
    right: 300px;
    width: 350px;
    line-height: 80px;
    * {
        padding: 0 .15em;
    }
    .time-box {
        &.lastminute {
            color: #f00;
        }
        &.overtime {
            @include animation(blink .9s infinite);
        }
    }
    .icon {
        cursor: pointer;
        &:before {
            padding: 0;
            top: 4px;
            transition: opacity .4s ease;
        }
        &:hover {
            &:before {
                opacity: .7;
            }
        }
    }
}